<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhr.dao.SaleMapper" >
  <resultMap id="BaseResultMap" type="com.jhr.entity.Sale" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="numstr" property="numstr" jdbcType="VARCHAR" />
    <result column="salepri" property="salepri" jdbcType="DOUBLE" />
    <result column="salenum" property="salenum" jdbcType="BIGINT" />
    <result column="saledate" property="saledate" jdbcType="TIMESTAMP" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="filed1" property="filed1" jdbcType="VARCHAR" />
    <result column="filed2" property="filed2" jdbcType="VARCHAR" />
    <result column="filed3" property="filed3" jdbcType="VARCHAR" />
    <result column="filed4" property="filed4" jdbcType="VARCHAR" />
    <result column="filed5" property="filed5" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sale
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jhr.entity.Sale"
          useGeneratedKeys="true"
          keyProperty="id">

    insert into sale (id,numstr, salepri, salenum,
      saledate, flag, `operator`, 
      createtime, filed1, filed2, 
      filed3, filed4, filed5
      )
    values (#{id,jdbcType=BIGINT}, #{numstr,jdbcType=VARCHAR}, #{salepri,jdbcType=DOUBLE}, #{salenum,jdbcType=BIGINT},
      #{saledate,jdbcType=TIMESTAMP}, #{flag,jdbcType=INTEGER}, #{operator,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{filed1,jdbcType=VARCHAR}, #{filed2,jdbcType=VARCHAR}, 
      #{filed3,jdbcType=VARCHAR}, #{filed4,jdbcType=VARCHAR}, #{filed5,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jhr.entity.Sale" >
    update sale
   <set>
     <if test="numstr != null and numstr != ''">
       numstr = #{numstr,jdbcType=VARCHAR},
     </if>
     <if test="salepri != null">
       salepri = #{salepri,jdbcType=DOUBLE},
     </if>
     <if test="salenum != null">
       salenum = #{salenum,jdbcType=BIGINT},
     </if>

     <if test="saledate != null">
       saledate = #{saledate,jdbcType=TIMESTAMP},
     </if>
     <if test="flag != null">
       flag = #{flag,jdbcType=INTEGER},
     </if>

     <if test="operator != null and operator != ''">
       operator = #{operator,jdbcType=VARCHAR},
     </if>

     <if test="createtime != null">
       createtime = #{createtime,jdbcType=TIMESTAMP},
     </if>

     <if test="filed1 != null and filed1 != ''">
       filed1 = #{filed1,jdbcType=VARCHAR},
     </if>

     <if test="filed2 != null and filed2 != ''">
       filed2 = #{filed2,jdbcType=VARCHAR},
     </if>

     <if test="filed3 != null and filed3 != ''">
       filed3 = #{filed3,jdbcType=VARCHAR},
     </if>


     <if test="filed4 != null and filed4 != ''">
       filed4 = #{filed4,jdbcType=VARCHAR},
     </if>
     <if test="filed5 != null and filed5 != ''">
       filed5 = #{filed5,jdbcType=VARCHAR},
     </if>

   </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, numstr, salepri, salenum, saledate, flag, `operator`, createtime, filed1, 
    filed2, filed3, filed4, filed5
    from sale
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, numstr, salepri, salenum, saledate, flag, `operator`, createtime, filed1, 
    filed2, filed3, filed4, filed5
    from sale
  </select>

  <select id="selectSaleListBy"
          parameterType="com.jhr.entity.Sale"
          resultType="com.jhr.entity.Sale">

    SELECT   id, numstr, salepri, salenum, saledate, flag, `operator`, createtime, filed1,
    filed2, filed3, filed4, filed5
    FROM   sale
    <where>
      1=1
      <if test="id != null">
        AND  id = #{id,jdbcType=BIGINT} /* id */
      </if>

      <if test="numstr != null and numstr != ''">
        AND  numstr LIKE CONCAT('%',#{numstr,jdbcType=VARCHAR},'%') /* 自定义编号 */
      </if>

      <if test="salepri != null">
        AND  salepri = #{salepri,jdbcType=DOUBLE} /* 出售价格 */
      </if>

      <if test="salenum != null">
        AND  salenum = #{salenum,jdbcType=BIGINT} /* 出售数量 */
      </if>

      <if test="saledate != null">
        AND  saledate = #{saledate,jdbcType=TIMESTAMP} /* 出售日期 */
      </if>

      <if test="flag != null">
        AND  flag = #{flag,jdbcType=INTEGER} /* 标记 */
      </if>

      <if test="operator != null and operator != ''">
        AND  operator = #{operator,jdbcType=VARCHAR} /* 操作人 */
      </if>

      <if test="createtime != null">
        AND  createtime = #{createtime,jdbcType=TIMESTAMP} /* 创建日期 */
      </if>

      <if test="filed1 != null and filed1 != ''">
        AND  filed1 = #{filed1,jdbcType=VARCHAR} /* filed1 */
      </if>

      <if test="filed2 != null and filed2 != ''">
        AND  filed2 = #{filed2,jdbcType=VARCHAR} /* filed2 */
      </if>

      <if test="filed3 != null and filed3 != ''">
        AND  filed3 = #{filed3,jdbcType=VARCHAR} /* filed3 */
      </if>


      <if test="filed4 != null and filed4 != ''">
        AND  filed4 = #{filed4,jdbcType=VARCHAR} /* filed4 */
      </if>
      <if test="filed5 != null and filed5 != ''">
        AND  filed5 = #{filed5,jdbcType=VARCHAR} /* filed5 */
      </if>

    </where>

    <!-- 排序信息 -->
    <!--<if test="orderBy != null and orderBy != ''">-->
    ORDER BY  createtime DESC /* 排序 */
    <!--</if>-->

  </select>
</mapper>